build-pseudo-distributed/downloads/*
src/*/target/*

# my homeworks

# src/homework1
# src/homework2
# src/homework3
# src/homework4
src/homework5

# my private submission

src/*-submission
src/io/hw*/
private/*

# eclipse jdtls language server

src/*/.classpath
src/*/.project
src/*/.settings
